<h2>New List !</h2>

<%= simple_form_for(@list) do |f| %>

  <%= f.input :name %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<p><%= link_to "< go back to main page", lists_path %></p>
<% end %>
