.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: 0 0 0 5px rgb(149, 218, 149);
  }

}

.taille {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color:rgb(135, 204, 135);
  }
}

ul {
  list-style: none;
  padding: 0;
}

#h2 {
  color: rgb(0, 0, 0);
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.img-card {
height: 200px;
width: 430px;
background-size: cover;
}
